<section id="content" class="clearfix ">

    <div class="container">


        <header class="page-header clearfix">

            <h1 class="page-title">Basic Tables</h1>


        </header><!-- end .page-header -->


        <table>
            <tbody>
            <tr>
                <th>#</th>
                <th>Head 1</th>
                <th>Head 2</th>
                <th class="last_cell">Head 3</th>
            </tr>
            <tr>
                <td>Row 1</td>
                <td>Cell 1</td>
                <td>Cell 1</td>
                <td>Cell 1</td>
            </tr>
            <tr>
                <td>Row 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>
            <tr>
                <td>Row 3</td>
                <td>Cell 3</td>
                <td>Cell 3</td>
                <td>Cell 3</td>
            </tr>
            <tr>
                <td>Row 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Row 5</td>
                <td>Cell 5</td>
                <td>Cell 5</td>
                <td>Cell 5</td>
            </tr>
            </tbody>
        </table>
        <hr class=""/>
        <table class="dark">
            <tbody>
            <tr>
                <th>#</th>
                <th>Head 1</th>
                <th>Head 2</th>
                <th class="last_cell">Head 3</th>
            </tr>
            <tr>
                <td>Row 1</td>
                <td>Cell 1</td>
                <td>Cell 1</td>
                <td>Cell 1</td>
            </tr>
            <tr>
                <td>Row 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
                <td>Cell 2</td>
            </tr>
            <tr>
                <td>Row 3</td>
                <td>Cell 3</td>
                <td>Cell 3</td>
                <td>Cell 3</td>
            </tr>
            <tr>
                <td>Row 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
                <td>Cell 4</td>
            </tr>
            <tr>
                <td>Row 5</td>
                <td>Cell 5</td>
                <td>Cell 5</td>
                <td>Cell 5</td>
            </tr>
            </tbody>
        </table>


        <p></p>


    </div><!-- end .container -->

</section><!-- end #content -->