<section id="content" class="clearfix ">

    <div class="container">

        <header class="page-header">

            <h1 class="page-title">Welcome to our blog</h1>


        </header><!-- end .page-header -->


        <section id="main">


            <article id="post-200"
                     class="post-200 post type-post status-publish format-standard hentry category-design category-post-formats tag-standard clearfix">


                <a href="../bringing-imessage-to-the-desktop-2/index.html"
                   title="Permalink to Bringing iMessage to the Desktop">
                    <img src="../files/2012/04/standart_post_1.jpg" alt="standart_post_1"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                </a>


                <div class="entry-body">

                    <a href="../bringing-imessage-to-the-desktop-2/index.html"
                       title="Permalink to Bringing iMessage to the Desktop" rel="bookmark">
                        <h1 class="title">Bringing iMessage to the Desktop</h1>
                    </a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at,
                    interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum,
                    ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis&hellip;
                </div><!-- end .entry-body -->

                <div class="entry-meta">

                    <ul>
                        <li><a href="../bringing-imessage-to-the-desktop-2/index.html"
                               title="Permalink to Bringing iMessage to the Desktop" rel="bookmark"><span
                                class="post-format ">Permalink</span></a></li>
                        <li><span class="title">Posted:</span> <a
                                href="../bringing-imessage-to-the-desktop-2/index.html" title="16:21" rel="bookmark">
                            <time datetime="16:21" pubdate>April 3, 2012</time>
                        </a></li>
                        <li><span class="title">Tags:</span> <a href="../tag/standard/index.html" rel="tag">Standard</a>
                        </li>
                        <li><span class="title">Comments:</span> <a title="Comment on Bringing iMessage to the Desktop"
                                                                    href="http://demo.samuli.me/wp/smartstart/bringing-imessage-to-the-desktop-2/#comments">111</a>
                        </li>
                    </ul>
                </div><!-- end .entry-meta -->
            </article><!-- end .hentry -->


            <article id="post-195"
                     class="post-195 post type-post status-publish format-gallery hentry category-awards-recognition category-post-formats tag-gallery clearfix">


                <div class="image-gallery-slider">

                    <ul data-effect="fixedScrollHorz" data-speed="600" data-timeout="0">


                        <li>
                            <a href="../files/2012/04/gallery_post_img_1.jpg" title="gallery_post_img_1"
                               class="image-gallery" rel="image-group-195">
                                <img src="../files/2012/04/gallery_post_img_1.jpg" alt="gallery_post_img_1"
                                     title="gallery_post_img_1" class="entry-image">
                            </a>
                        </li>


                        <li>
                            <a href="../files/2012/04/gallery_post_img_2.jpg" title="gallery_post_img_2"
                               class="image-gallery" rel="image-group-195">
                                <img src="../files/2012/04/gallery_post_img_2.jpg" alt="gallery_post_img_2"
                                     title="gallery_post_img_2" class="entry-image">
                            </a>
                        </li>


                        <li>
                            <a href="../files/2012/04/gallery_post_img_3.jpg" title="gallery_post_img_3"
                               class="image-gallery" rel="image-group-195">
                                <img src="../files/2012/04/gallery_post_img_3.jpg" alt="gallery_post_img_3"
                                     title="gallery_post_img_3" class="entry-image">
                            </a>
                        </li>


                    </ul>

                </div><!-- end .image-gallery-slider -->


                <div class="entry-body">

                    <a href="../bringing-imessage-to-the-desktop/index.html"
                       title="Permalink to Bringing iMessage to the Desktop" rel="bookmark">
                        <h1 class="title">Bringing iMessage to the Desktop</h1>
                    </a>

                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit
                    amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </div><!-- end .entry-body -->

                <div class="entry-meta">

                    <ul>
                        <li><a href="../bringing-imessage-to-the-desktop/index.html"
                               title="Permalink to Bringing iMessage to the Desktop" rel="bookmark"><span
                                class="post-format gallery">Permalink</span></a></li>
                        <li><span class="title">Posted:</span> <a href="../bringing-imessage-to-the-desktop/index.html"
                                                                  title="16:20" rel="bookmark">
                            <time datetime="16:20" pubdate>April 3, 2012</time>
                        </a></li>
                        <li><span class="title">Tags:</span> <a href="../tag/gallery/index.html" rel="tag">Gallery</a>
                        </li>
                        <li><span class="title">Comments:</span> <a title="Comment on Bringing iMessage to the Desktop"
                                                                    href="http://demo.samuli.me/wp/smartstart/bringing-imessage-to-the-desktop/#comments">53</a>
                        </li>
                    </ul>
                </div><!-- end .entry-meta -->
            </article><!-- end .hentry -->


            <article id="post-192"
                     class="post-192 post type-post status-publish format-video hentry category-awards-recognition category-design category-post-formats tag-video clearfix">

                <div class="entry-video">

                    <iframe src="http://player.vimeo.com/video/32314979?portrait=0&color=ffffff" width="680"
                            height="380" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                            class="entry-video"></iframe>
                </div><!-- end .entry-video -->

                <div class="entry-body">

                    <a href="../some-amazing-video-clip/index.html" title="Permalink to Some Amazing Video Clip"
                       rel="bookmark">
                        <h1 class="title">Some Amazing Video Clip</h1>
                    </a>

                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit
                    amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </div><!-- end .entry-body -->

                <div class="entry-meta">

                    <ul>
                        <li><a href="../some-amazing-video-clip/index.html" title="Permalink to Some Amazing Video Clip"
                               rel="bookmark"><span class="post-format video">Permalink</span></a></li>
                        <li><span class="title">Posted:</span> <a href="../some-amazing-video-clip/index.html"
                                                                  title="16:18" rel="bookmark">
                            <time datetime="16:18" pubdate>April 3, 2012</time>
                        </a></li>
                        <li><span class="title">Tags:</span> <a href="../tag/video/index.html" rel="tag">Video</a></li>
                        <li><span class="title">Comments:</span> <a title="Comment on Some Amazing Video Clip"
                                                                    href="http://demo.samuli.me/wp/smartstart/some-amazing-video-clip/#comments">16</a>
                        </li>
                    </ul>
                </div><!-- end .entry-meta -->
            </article><!-- end .hentry -->


            <article id="post-188"
                     class="post-188 post type-post status-publish format-link hentry category-awards-recognition category-competitions category-direct-mail category-post-formats tag-link clearfix">

                <div class="entry-body">

                    <a href="http://themeforest.net/user/Smuliii/portfolio/?ref=smuliii"
                       title="External link to Find more Themeforest themes!" target="_blank">
                        <h1 class="title">Find more Themeforest themes!</h1>
                    </a>

                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit
                    amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </div><!-- end .entry-body -->

                <div class="entry-meta">

                    <ul>
                        <li><a href="../find-more-themeforest-themes/index.html"
                               title="Permalink to Find more Themeforest themes!" rel="bookmark"><span
                                class="post-format link">Permalink</span></a></li>
                        <li><span class="title">Posted:</span> <a href="../find-more-themeforest-themes/index.html"
                                                                  title="16:16" rel="bookmark">
                            <time datetime="16:16" pubdate>April 3, 2012</time>
                        </a></li>
                        <li><span class="title">Tags:</span> <a href="../tag/link/index.html" rel="tag">Link</a></li>
                        <li><span class="title">Comments:</span> <a title="Comment on Find more Themeforest themes!"
                                                                    href="http://demo.samuli.me/wp/smartstart/find-more-themeforest-themes/#comments">8</a>
                        </li>
                    </ul>
                </div><!-- end .entry-meta -->
            </article><!-- end .hentry -->


            <nav class="pagination"><span class="current">1</span><a href="blog-2.html">2</a><a
                    href="blog-2.html" class="prev">Previous &rarr;</a></nav>


        </section><!-- end #main -->

        <aside id="sidebar">


            <div id="categories-3" class="widget widget_categories"><h6 class="widget-title">Blog Categories</h6>
                <ul>
                    <li class="cat-item cat-item-20"><a href="../category/awards-recognition/index.html"
                                                        title="View all posts filed under Awards &amp; Recognition">Awards
                        &amp; Recognition</a>
                    </li>
                    <li class="cat-item cat-item-21"><a href="../category/competitions/index.html"
                                                        title="View all posts filed under Competitions">Competitions</a>
                    </li>
                    <li class="cat-item cat-item-19"><a href="../category/design/index.html"
                                                        title="View all posts filed under Design">Design</a>
                    </li>
                    <li class="cat-item cat-item-22"><a href="../category/direct-mail/index.html"
                                                        title="View all posts filed under Direct Mail">Direct Mail</a>
                    </li>
                    <li class="cat-item cat-item-5"><a href="../category/post-formats/index.html"
                                                       title="View all posts filed under Post Formats">Post Formats</a>
                    </li>
                    <li class="cat-item cat-item-23"><a href="../category/travel-tourism/index.html"
                                                        title="View all posts filed under Travel &amp; Tourism">Travel
                        &amp; Tourism</a>
                    </li>
                </ul>
            </div>
            <div id="text-2" class="widget widget_text"><h6 class="widget-title">Text Widget</h6>
                <div class="textwidget">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                </div>
            </div>
            <div id="text-3" class="widget widget_text"><h6 class="widget-title">Accordion Content</h6>
                <div class="textwidget"><span class="acc-trigger" data-mode=""><a href="">User Research</a></span>
                    <div class="acc-container">
                        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                            condimentum ultrices consequat eu.
                        </div>
                    </div>

                    <span class="acc-trigger" data-mode=""><a href="">Organizational Consulting</a></span>
                    <div class="acc-container">
                        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                            condimentum ultrices consequat eu.
                        </div>
                    </div>

                    <span class="acc-trigger" data-mode=""><a href="">Competitive Analysis</a></span>
                    <div class="acc-container">
                        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                            condimentum ultrices consequat eu.
                        </div>
                    </div>

                    <span class="acc-trigger" data-mode=""><a href="">Market Research</a></span>
                    <div class="acc-container">
                        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                            condimentum ultrices consequat eu.
                        </div>
                    </div>
                </div>
            </div>
            <div id="ss-twitter-feed-2" class="widget ss-twitter-feed"><h6 class="widget-title">Twitter Feed</h6>
                <ul class='tweets-feed'>
                    <li>Oops, our Twitter feed is unavailable at the moment. - <a href='http://twitter.com/envato/'
                                                                                  target='_blank'>Follow us on
                        Twitter!</a></li>
                </ul><!-- end .tweets-feed --></div>
            <div id="ss-flickr-feed-2" class="widget ss-flickr-feed"><h6 class="widget-title">Flickr Feed</h6>
                <ul class="flickr-feed">
                    <li><a href='http://www.flickr.com/photos/we-are-envato/13090561633/'
                           title='Around the Envato Office - Jess & Terry' target='_blank'><img
                            src='http://farm4.staticflickr.com/3165/13090561633_e9c5d3c072_s.jpg'
                            alt='Around the Envato Office - Jess & Terry'></a></li>
                    <li><a href='http://www.flickr.com/photos/we-are-envato/13090570003/'
                           title='Around the Envato Office - Briany & Carmen in deep conversation' target='_blank'><img
                            src='http://farm3.staticflickr.com/2697/13090570003_021f405fbf_s.jpg'
                            alt='Around the Envato Office - Briany & Carmen in deep conversation'></a></li>
                    <li><a href='http://www.flickr.com/photos/we-are-envato/13090762874/'
                           title='Around the Envato Office - Ben & Jane' target='_blank'><img
                            src='http://farm4.staticflickr.com/3596/13090762874_5f9d99f4e5_s.jpg'
                            alt='Around the Envato Office - Ben & Jane'></a></li>
                    <li><a href='http://www.flickr.com/photos/we-are-envato/13090422515/'
                           title='Around the Envato Office - Becca' target='_blank'><img
                            src='http://farm3.staticflickr.com/2279/13090422515_cabc9c447c_s.jpg'
                            alt='Around the Envato Office - Becca'></a></li>
                    <li><a href='http://www.flickr.com/photos/we-are-envato/13090456565/'
                           title='Around the Envato Office - Selina' target='_blank'><img
                            src='http://farm4.staticflickr.com/3715/13090456565_df81e68627_s.jpg'
                            alt='Around the Envato Office - Selina'></a></li>
                    <li><a href='http://www.flickr.com/photos/we-are-envato/13090549273/'
                           title='Around the Envato Office - Highfive!' target='_blank'><img
                            src='http://farm8.staticflickr.com/7325/13090549273_ee5c732ce1_s.jpg'
                            alt='Around the Envato Office - Highfive!'></a></li>
                </ul><!-- end .flickr-feed --></div>


        </aside><!-- end #sidebar -->

    </div><!-- end .container -->

</section><!-- end #content -->
