<section id="content" class="clearfix ">

    <div class="container">


        <header class="page-header clearfix">

            <h1 class="page-title">Elements</h1>


        </header><!-- end .page-header -->


        <div class="one-fourth">
            <h4>Accordion</h4>
            <span class="acc-trigger" data-mode=""><a href="">Title Goes Here</a></span>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu.
                </div>
            </div>
            <span class="acc-trigger" data-mode=""><a href="">Title Goes Here</a></span>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu.
                </div>
            </div>
            <span class="acc-trigger" data-mode=""><a href="">Title Goes Here</a></span>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu.
                </div>
            </div>
        </div>
        <div class="one-fourth">
            <h4>Tabs</h4>

            <ul class="tabs-nav">
                <li><a href="">First Tab</a></li>
                <li><a href="">Second</a></li>
                <li><a href="">Third</a></li>
            </ul>
            <div class="tabs-container">
                <div id="tab-1-1" class="tab-content">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    nisl orci, condim entum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div id="tab-1-2" class="tab-content">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    nisl orci, condim entum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div id="tab-1-3" class="tab-content">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    nisl orci, condim entum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>

        </div>
        <div class="one-fourth">
            <h4>Alert Boxes</h4>
            <p class="error"><strong>Error</strong> &#8211; Your message! </p>
            <p class="success"><strong>Success</strong> &#8211; Your message! </p>
            <p class="info"><strong>Info</strong> &#8211; Your message!</p>
            <p class="notice"><strong>Notice</strong> &#8211; Your message! </p>
        </div>
        <div class="one-fourth last">
            <h4>Info Box</h4>
            <div class="infobox">
                <h3>It’s an info box! Your title goes here.</h3>
                <a class="button  " href="" target="_self">Button Text</a>
            </div>
        </div>
        <div class="clear"></div>
        <hr class=""/>
        <div class="one-fourth">
            <h4>List Styles</h4>
            <div class="arrow dotted">
                <ul>
                    <li>Arrow List &#8211; Aenean nisl orci</li>
                </ul>
            </div>
            <div class="arrow-2 dotted">
                <ul>
                    <li>Arrow 2 List &#8211; Lorem ipsum dolor</li>
                </ul>
            </div>
            <div class="circle dotted">
                <ul>
                    <li>Circle List &#8211; Consectetur adipiscing</li>
                </ul>
            </div>
            <div class="check dotted">
                <ul>
                    <li>Check List &#8211; Aenean nisl orci</li>
                </ul>
            </div>
            <div class="check-2 dotted">
                <ul>
                    <li>Check 2 List &#8211; Aenean nisl orci</li>
                </ul>
            </div>
            <div class="star dotted">
                <ul>
                    <li>Star List &#8211; Lorem ipsum dolor</li>
                </ul>
            </div>
            <div class="dash dotted">
                <ul>
                    <li>Plus List &#8211; Consectetur adipiscing</li>
                </ul>
            </div>
            <div class="plus dotted">
                <ul>
                    <li>Dash List &#8211; Lorem ipsum dolor</li>
                </ul>
            </div>
        </div>
        <div class="one-fourth">
            <h4>Dropcaps</h4>
            <span class="dropcap ">P</span>ras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius
            lacus, nec dictum nunc tortor id urna eros ac molestie placerat, enim tellus varius.</p>
            <span class="dropcap dark">C</span>ras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus
            varius lacus, nec dictum nunc tortor id urna eros ac molestie placerat, enim tellus varius.</p>
        </div>
        <div class="one-fourth">
            <h4>Blockquotes</h4>
            <blockquote class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p></blockquote>
        </div>
        <div class="one-fourth last">
            <a class="button  " href="" target="_self">Normal Button</a>
            <p>&nbsp;</p>
            <a class="button medium " href="" target="_self">Medium Button</a>
            <p>&nbsp;</p>
            <a class="button large " href="" target="_self">Large Button</a>
        </div>
        <div class="clear"></div>


        <p></p>


    </div><!-- end .container -->

</section><!-- end #content -->