<header id="header" class="container clearfix">

    <a href="" id="logo" title="SmartStart WP ">
        <img src="files/2012/04/logo.png" alt="SmartStart WP "></a>

    <nav id="main-nav">

        <ul id="menu-main-navigation" class="menu">
            <li id="menu-item-12"
                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-12">
                <a href="" data-description="All starts here">Home</a>
                <ul class="sub-menu">
                    <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
                        <a href="logos-slider/index.html">Logos Slider</a>
                    </li>
                    <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83">
                        <a href="photos-slider/index.html">Photos Slider</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                <a href="elements.html" data-description="All the different stuff">Features</a>
                <ul class="sub-menu">
                    <li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89">
                        <a href="about-us.html">About Us</a>
                    </li>
                    <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
                        <a href="meet-our-team.html">Meet Our Team</a>
                        <ul class="sub-menu">
                            <li id="menu-item-87"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87">
                                <a href="we-are-hiring.html">We Are Hiring</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-156"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156">
                        <a href="elements.html">Elements</a>
                        <ul class="sub-menu">
                            <li id="menu-item-615"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615">
                                <a href="basic-tables-content.html">Basic Tables</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85">
                        <a href="pricing-tables.html">Pricing Tables</a>
                    </li>
                    <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88">
                        <a href="columns.html">Columns</a>
                    </li>
                    <li id="menu-item-80" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80">
                        <a href="">Third Level Item</a>
                        <ul class="sub-menu">
                            <li id="menu-item-79"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79">
                                <a href="">This is a simple example</a>
                            </li>
                            <li id="menu-item-81"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81">
                                <a href="">Of a third item</a>
                            </li>
                            <li id="menu-item-82"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82">
                                <a href="">Navigation item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
                <a href="blog.html" data-description="What we think">Blog</a>
            </li>
            <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
                <a href="portfolio-4-columns.html" data-description="Work we are proud of">Portfolio</a>
                <ul class="sub-menu">
                    <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
                        <a href="portfolio-2-columns.html">Portfolio 2 Columns</a>
                    </li>
                    <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                        <a href="portfolio-3-columns.html">Portfolio 3 Columns</a>
                    </li>
                    <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76">
                        <a href="portfolio-4-columns.html">Portfolio 4 Columns</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34">
                <a href="contact.html" data-description="Enquire here">Contact</a>
            </li>
        </ul>
    </nav>
    <!-- end #main-nav -->

</header>
<!-- end #header -->