<section id="content" class="clearfix ">

    <div class="container">

        <h1 class="slogan align-center">
            We are a group of experienced designers and developers.
            <br/>
            We set new standards in user experience &amp; make future happen.
        </h1>
        <section id="ss-features-slider" class="ss-slider">
            <article class="slide">
                <img src="files/2012/04/features_img_1.jpg" alt="Features slider" class="slide-bg-image"/>

                <div class="slide-button ">
                    <span class="dropcap">1</span>
                    <h5>Responsive Layout</h5>
                    <span class="description">From desktop to mobile</span>
                </div>
                <div class="slide-content">
                    <h2>Responsive Layout</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.
                    </p>

                    <p>
                        <a class="button  " href="" target="_self">Read More</a>
                    </p>
                </div>
            </article>
            <!-- end .slide -->
            <article class="slide">
                <img src="files/2012/04/features_img_2.jpg" alt="Features slider" class="slide-bg-image"/>

                <div class="slide-button ">
                    <span class="dropcap">2</span>
                    <h5>HTML5 / CSS3</h5>
                    <span class="description">For today and tomorrow</span>
                </div>
                <div class="slide-content">
                    <h2>HTML5 / CSS3</h2>

                    <p>
                        Hendrerit eleifend condimentum quis, varius at lacus. Donec ultrices justo scelerisque erat
                        feugiat sed
                        mattis justo volutpat.
                    </p>

                    <p>
                        <a class="button" href="">Read More</a>
                    </p>
                </div>
            </article>
            <!-- end .slide -->
            <article class="slide">
                <a href="http://player.vimeo.com/video/32314979?title=0&byline=0&portrait=0" class="iframe">
                    <img src="files/2012/04/features_img_3.jpg" alt="Features slider" class="slide-bg-image"/>

                    <div class="slide-button ">
                        <span class="dropcap">3</span>
                        <h5>Easily customisable</h5>
                        <span class="description">Build the way you want!</span>
                    </div>
                </a>

                <div class="slide-content">
                    <h2>Easily Customisable</h2>

                    <p>
                        You can link slides to any URL, and even use lightbox to launch popup images/videos/anything. So
                        click
                        the slide and see what happens!
                    </p>

                    <p>
                        <a class="button" href="">Read More</a>
                    </p>
                </div>
            </article>
            <!-- end .slide -->
            <article class="slide">
                <img src="files/2012/04/features_img_4.jpg" alt="Features slider" class="slide-bg-image"/>

                <div class="slide-button ">
                    <span class="dropcap">4</span>
                    <h5>Unique & Clean</h5>
                    <span class="description">Stand out from the crowd!</span>
                </div>
                <div class="slide-content">
                    <h2>Unique & Clean</h2>

                    <p>
                        Fusce porta elit quis nunc mollis ut lacinia eros accumsan. Aenean consequat egestas diam, vel
                        pharetra
                        tellus venenatis in.
                    </p>

                    <p>
                        <a class="button" href="">Read More</a>
                    </p>
                </div>
            </article>
            <!-- end .slide -->
        </section>
        <!-- end .ss-slider -->
        <h6 class="section-title">Latest projects</h6>
        <ul class="projects-carousel clearfix" data-auto="0" data-scroll_count="">
            <li>
                <a href="portfolio-item/altered/index.html" title="Altered">
                    <img src="files/2012/04/altered-full-1-220x140.jpg" alt="altered-full-1"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">Altered</h5>
                    <span class="categories">design / illustration</span>
                </a>
            </li>
            <!-- end project -->
            <li>
                <a href="portfolio-item/taste-lab/index.html" title="Taste Lab">
                    <img src="files/2012/04/taste-lab-220x140.jpg" alt="taste-lab"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">Taste Lab</h5>
                    <span class="categories">animation / web</span>
                </a>
            </li>
            <!-- end project -->
            <li>
                <a href="portfolio-item/not-the-end/index.html" title="Not the End">
                    <img src="files/2012/04/nottheend-full-220x140.jpg" alt="nottheend-full"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">Not the End</h5>
                    <span class="categories">illustration</span>
                </a>
            </li>
            <!-- end project -->
            <li>
                <a href="portfolio-item/shift/index.html" title="Shift">
                    <img src="files/2012/04/200836153_640-220x140.jpg" alt="200836153_640"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">Shift</h5>
                    <span class="categories">animation</span>
                </a>
            </li>
            <!-- end project -->
            <li>
                <a href="portfolio-item/the-game/index.html" title="The Game">
                    <img src="files/2012/04/thegame-full-220x140.jpg" alt="thegame-full"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">The Game</h5>
                    <span class="categories">photography</span>
                </a>
            </li>
            <!-- end project -->
            <li>
                <a href="portfolio-item/snow-tower/index.html" title="Snow Tower">
                    <img src="files/2012/04/snowtower-full-220x140.jpg" alt="snowtower-full"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">Snow Tower</h5>
                    <span class="categories">illustration / photography</span>
                </a>
            </li>
            <!-- end project -->
            <li>
                <a href="portfolio-item/tranton/index.html" title="Tranton">
                    <img src="files/2012/04/tranton-full-220x140.jpg" alt="tranton-full"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">Tranton</h5>
                    <span class="categories">design / illustration</span>
                </a>
            </li>
            <!-- end project -->
            <li>
                <a href="portfolio-item/futurisk/index.html" title="Futurisk">
                    <img src="files/2012/04/futurisk-full-220x140.jpg" alt="futurisk-full"
                         class="entry-image attachment-post-thumbnail wp-post-image">
                    <h5 class="title">Futurisk</h5>
                    <span class="categories">illustration / photography</span>
                </a>
            </li>
            <!-- end project -->
        </ul>
        <!-- end .projects-carousel -->
        <h6 class="section-title">Latest stuff from our blog</h6>
        <ul class="post-carousel clearfix" data-auto="0" data-scroll_count="">
            <li>

                <a href="bringing-imessage-to-the-desktop-2/index.html"
                   title="Permalink to Bringing iMessage to the Desktop">
                    <img src="files/2012/04/standart_post_1-300x103.jpg" alt="standart_post_1"
                         class="entry-image attachment-post-thumbnail wp-post-image"></a>

                <div class="entry-body">

                    <a href="bringing-imessage-to-the-desktop-2/index.html"
                       title="Permalink to Bringing iMessage to the Desktop"
                       rel="bookmark">
                        <h1 class="title">Bringing iMessage to the Desktop</h1>
                    </a>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at,
                    interdum sit
                    amet dui. Nullam&hellip;
                </div>
                <!-- end .entry-body -->

                <div class="entry-meta">

                    <a href="bringing-imessage-to-the-desktop-2/index.html"
                       title="Permalink to Bringing iMessage to the Desktop"
                       rel="bookmark">
                        <span class="post-format ">Permalink</span>
                    </a>
								<span class="date">
									<a href="bringing-imessage-to-the-desktop-2/index.html" title="16:21"
                                       rel="bookmark">
                                        <time datetime="16:21" pubdate>April 3, 2012</time>
                                    </a>
								</span>
                </div>
                <!-- end .entry-meta -->
            </li>
            <li>

                <div class="image-gallery-slider">

                    <ul data-effect="fixedScrollHorz" data-speed="600" data-timeout="0">

                        <li>
                            <a href="bringing-imessage-to-the-desktop/index.html" title="gallery_post_img_1">
                                <img src="files/2012/04/gallery_post_img_1-300x103.jpg" alt="gallery_post_img_1"
                                     title="gallery_post_img_1" class="entry-image"></a>
                        </li>

                        <li>
                            <a href="bringing-imessage-to-the-desktop/index.html" title="gallery_post_img_2">
                                <img src="files/2012/04/gallery_post_img_2-300x103.jpg" alt="gallery_post_img_2"
                                     title="gallery_post_img_2" class="entry-image"></a>
                        </li>

                        <li>
                            <a href="bringing-imessage-to-the-desktop/index.html" title="gallery_post_img_3">
                                <img src="files/2012/04/gallery_post_img_3-300x103.jpg" alt="gallery_post_img_3"
                                     title="gallery_post_img_3" class="entry-image"></a>
                        </li>

                    </ul>

                </div>
                <!-- end .image-gallery-slider -->

                <div class="entry-body">

                    <a href="bringing-imessage-to-the-desktop/index.html"
                       title="Permalink to Bringing iMessage to the Desktop"
                       rel="bookmark">
                        <h1 class="title">Bringing iMessage to the Desktop</h1>
                    </a>
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.
                    Cum sociis natoque penatibus&hellip;
                </div>
                <!-- end .entry-body -->

                <div class="entry-meta">

                    <a href="bringing-imessage-to-the-desktop/index.html"
                       title="Permalink to Bringing iMessage to the Desktop"
                       rel="bookmark">
                        <span class="post-format gallery">Permalink</span>
                    </a>
								<span class="date">
									<a href="bringing-imessage-to-the-desktop/index.html" title="16:20" rel="bookmark">
                                        <time datetime="16:20" pubdate>April 3, 2012</time>
                                    </a>
								</span>
                </div>
                <!-- end .entry-meta -->
            </li>
            <li>
                <div class="entry-video">

                    <iframe src="http://player.vimeo.com/video/32314979?portrait=0&color=ffffff" width="680"
                            height="380"
                            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                            class="entry-video"></iframe>
                </div>
                <!-- end .entry-video -->

                <div class="entry-body">

                    <a href="some-amazing-video-clip/index.html" title="Permalink to Some Amazing Video Clip"
                       rel="bookmark">
                        <h1 class="title">Some Amazing Video Clip</h1>
                    </a>
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.
                    Cum sociis natoque penatibus&hellip;
                </div>
                <!-- end .entry-body -->

                <div class="entry-meta">

                    <a href="some-amazing-video-clip/index.html" title="Permalink to Some Amazing Video Clip"
                       rel="bookmark">
                        <span class="post-format video">Permalink</span>
                    </a>
								<span class="date">
									<a href="some-amazing-video-clip/index.html" title="16:18" rel="bookmark">
                                        <time datetime="16:18" pubdate>April 3, 2012</time>
                                    </a>
								</span>
                </div>
                <!-- end .entry-meta -->
            </li>
            <li>
                <div class="entry-body">

                    <a href="http://themeforest.net/user/Smuliii/portfolio/?ref=smuliii"
                       title="External link to Find more Themeforest themes!" target="_blank">
                        <h1 class="title">Find more Themeforest themes!</h1>
                    </a>
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.
                    Cum sociis natoque penatibus&hellip;
                </div>
                <!-- end .entry-body -->

                <div class="entry-meta">

                    <a href="find-more-themeforest-themes/index.html" title="Permalink to Find more Themeforest themes!"
                       rel="bookmark">
                        <span class="post-format link">Permalink</span>
                    </a>
								<span class="date">
									<a href="find-more-themeforest-themes/index.html" title="16:16" rel="bookmark">
                                        <time datetime="16:16" pubdate>April 3, 2012</time>
                                    </a>
								</span>
                </div>
                <!-- end .entry-meta -->
            </li>
            <li>
                <div class="entry-body">

                    <div class="entry-audio">

                        <audio id='AudioPlayerV1-id-180' class='AudioPlayerV1' width='100%' height='29' controls
                               data-fallback='http://demo.samuli.me/wp/smartstart/wp-content/themes/smartstart/js/audioplayerv1.swf'>

                            <source src="http://demo.samuli.me/_media/awesome-wp/hit-it-hard.ogg" type="audio/ogg"/>
                        </audio>
                    </div>
                    <!-- end .entry-audio -->
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.
                    Cum sociis natoque penatibus&hellip;
                </div>
                <!-- end .entry-body -->

                <div class="entry-meta">

                    <a href="hit-it-hard-by-beathebeat/index.html" title="Permalink to Hit It Hard by BeatheBeat"
                       rel="bookmark">
                        <span class="post-format audio">Permalink</span>
                    </a>
								<span class="date">
									<a href="hit-it-hard-by-beathebeat/index.html" title="16:08" rel="bookmark">
                                        <time datetime="16:08" pubdate>April 3, 2012</time>
                                    </a>
								</span>
                </div>
                <!-- end .entry-meta -->
            </li>
            <li>
                <div class="entry-body">

                    <blockquote class="simple">
                        <p>
                            I’ve decided on the photos that I would like you to use on the website. They are attached to
                            this email.
                            Please send them back when you’re finished as they are my only copies. Thanks!
                        </p>
                        <small>- Seriously...</small>
                    </blockquote>

                </div>
                <!-- end .entry-body -->

                <div class="entry-meta">

                    <a href="the-quote-post/index.html" title="Permalink to The Quote Post" rel="bookmark">
                        <span class="post-format quote">Permalink</span>
                    </a>
								<span class="date">
									<a href="the-quote-post/index.html" title="16:06" rel="bookmark">
                                        <time datetime="16:06" pubdate>April 3, 2012</time>
                                    </a>
								</span>
                </div>
                <!-- end .entry-meta -->
            </li>
            <li>
                <div class="entry-body">
                    This is an aside post format. Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean
                    commodo
                    ligula eget dolor.&hellip;
                </div>
                <!-- end .entry-body -->

                <div class="entry-meta">

                    <a href="the-aside-post/index.html" title="Permalink to The Aside Post" rel="bookmark">
                        <span class="post-format aside">Permalink</span>
                    </a>
								<span class="date">
									<a href="the-aside-post/index.html" title="15:47" rel="bookmark">
                                        <time datetime="15:47" pubdate>April 3, 2012</time>
                                    </a>
								</span>
                </div>
                <!-- end .entry-meta -->
            </li>
        </ul>
        <!-- end .post-carousel -->

        <p></p>

    </div>
    <!-- end .container -->

</section>
<!-- end #content -->