<section id="content" class="clearfix ">

    <div class="container">


        <header class="page-header clearfix">

            <h1 class="page-title">Meet Our Team</h1>


            <hr/>

            <h2 class="page-subdescription"><strong>Our success - people we employ.</strong> Consectetur adipisicing
                elit, ut labore et dolore magna aliqua. Praesent dapibus, neque id cursus faucibus, tortor neque
                egesaugue, eu vulputate magna eros eu erat.</h2>


        </header><!-- end .page-header -->


        <div class="team-member one-fourth "><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                  class="photo wp-post-image" alt="team-member" title="team-member"/>
            <div class="content"><h4 class="name">John Doe</h4><span class="job-title">Principal designer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="delicious"><a href="" target="_blank">Delicious</a></li>
                    <li class="deviantart"><a href="" target="_blank">Deviantart</a></li>
                    <li class="flickr"><a href="" target="_blank">Flickr</a></li>
                    <li class="github"><a href="" target="_blank">Github</a></li>
                    <li class="stumbleupon"><a href="" target="_blank">Stumbleupon</a></li>
                    <li class="email"><a href="mailto:#" target="_blank">Email</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="team-member one-fourth "><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                  class="photo wp-post-image" alt="team-member" title="team-member"/>
            <div class="content"><h4 class="name">Johanthan Doe</h4><span class="job-title">Junior Web Developer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="deviantart"><a href="" target="_blank">Deviantart</a></li>
                    <li class="flickr"><a href="" target="_blank">Flickr</a></li>
                    <li class="google"><a href="" target="_blank">Google</a></li>
                    <li class="linkedin"><a href="" target="_blank">Linkedin</a></li>
                    <li class="stumbleupon"><a href="" target="_blank">Stumbleupon</a></li>
                    <li class="twitter"><a href="http://twitter.com/#" target="_blank">Twitter</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="team-member one-fourth "><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                  class="photo wp-post-image" alt="team-member" title="team-member"/>
            <div class="content"><h4 class="name">Johhny Doo</h4><span class="job-title">Project Manager</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="dropbox"><a href="" target="_blank">Dropbox</a></li>
                    <li class="google"><a href="" target="_blank">Google</a></li>
                    <li class="myspace"><a href="" target="_blank">Myspace</a></li>
                    <li class="skype"><a href="" target="_blank">Skype</a></li>
                    <li class="vimeo"><a href="" target="_blank">Vimeo</a></li>
                    <li class="email"><a href="mailto:#" target="_blank">Email</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="team-member one-fourth last"><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                      class="photo wp-post-image" alt="team-member"
                                                      title="team-member"/>
            <div class="content"><h4 class="name">Johnny Doe</h4><span class="job-title">Designer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="dribbble"><a href="" target="_blank">Dribbble</a></li>
                    <li class="facebook"><a href="" target="_blank">Facebook</a></li>
                    <li class="googleplus"><a href="" target="_blank">Googleplus</a></li>
                    <li class="linkedin"><a href="" target="_blank">Linkedin</a></li>
                    <li class="twitter"><a href="http://twitter.com/#" target="_blank">Twitter</a></li>
                    <li class="email"><a href="mailto:#" target="_blank">Email</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="clear"></div>
        <div class="team-member one-fourth "><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                  class="photo wp-post-image" alt="team-member" title="team-member"/>
            <div class="content"><h4 class="name">Johhny Doo</h4><span class="job-title">Project Manager</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="dropbox"><a href="" target="_blank">Dropbox</a></li>
                    <li class="google"><a href="" target="_blank">Google</a></li>
                    <li class="myspace"><a href="" target="_blank">Myspace</a></li>
                    <li class="skype"><a href="" target="_blank">Skype</a></li>
                    <li class="vimeo"><a href="" target="_blank">Vimeo</a></li>
                    <li class="email"><a href="mailto:#" target="_blank">Email</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="team-member one-fourth "><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                  class="photo wp-post-image" alt="team-member" title="team-member"/>
            <div class="content"><h4 class="name">John Doe</h4><span class="job-title">Principal designer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="delicious"><a href="" target="_blank">Delicious</a></li>
                    <li class="deviantart"><a href="" target="_blank">Deviantart</a></li>
                    <li class="flickr"><a href="" target="_blank">Flickr</a></li>
                    <li class="github"><a href="" target="_blank">Github</a></li>
                    <li class="stumbleupon"><a href="" target="_blank">Stumbleupon</a></li>
                    <li class="email"><a href="mailto:#" target="_blank">Email</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="team-member one-fourth "><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                  class="photo wp-post-image" alt="team-member" title="team-member"/>
            <div class="content"><h4 class="name">Johnny Doe</h4><span class="job-title">Designer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="dribbble"><a href="" target="_blank">Dribbble</a></li>
                    <li class="facebook"><a href="" target="_blank">Facebook</a></li>
                    <li class="googleplus"><a href="" target="_blank">Googleplus</a></li>
                    <li class="linkedin"><a href="" target="_blank">Linkedin</a></li>
                    <li class="twitter"><a href="http://twitter.com/#" target="_blank">Twitter</a></li>
                    <li class="email"><a href="mailto:#" target="_blank">Email</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="team-member one-fourth last"><img width="220" height="245" src="../files/2012/04/team-member.jpg"
                                                      class="photo wp-post-image" alt="team-member"
                                                      title="team-member"/>
            <div class="content"><h4 class="name">Johanthan Doe</h4><span class="job-title">Junior Web Developer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                <ul class="social-links">
                    <li class="deviantart"><a href="" target="_blank">Deviantart</a></li>
                    <li class="flickr"><a href="" target="_blank">Flickr</a></li>
                    <li class="google"><a href="" target="_blank">Google</a></li>
                    <li class="linkedin"><a href="" target="_blank">Linkedin</a></li>
                    <li class="stumbleupon"><a href="" target="_blank">Stumbleupon</a></li>
                    <li class="twitter"><a href="http://twitter.com/#" target="_blank">Twitter</a></li>
                </ul><!-- end .social-links --></div><!-- end .content --></div><!-- end .team-member -->
        <div class="clear"></div>


        <p></p>


    </div><!-- end .container -->

</section><!-- end #content -->