<section id="content" class="clearfix ">

    <div class="container">


        <header class="page-header clearfix">

            <h1 class="page-title">Pricing Tables</h1>


        </header><!-- end .page-header -->


        </p>

        <section class="extended-pricing-table col4 featured clearfix">
            <div class="column features-list ">
                <div class="header"></div><!-- end .header -->
                <ul class="features">
                    <li data-tooltip="Tooltip - Optional description can go here!">Users</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Voters &amp; votes</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Ideas</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Comments</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Moderation tools</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Sign-in / singup options</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Widget tracking</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Admins / moderators</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Feedback zones</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Products</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Private forums</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Semi-private forums</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Public forums</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">Domain aliasing</li>
                    <li data-tooltip="Tooltip - Optional description can go here!">30 day trial</li>
                </ul><!-- end .features --></div><!-- end .column -->
            <div class="column  free">
                <div class="header"><h2 class="title">Free Plan</h2>
                    <h3 class="price"><span>$0</span>per month</h3></div><!-- end .header -->
                <ul class="features">
                    <li data-feature="Users">50</li>
                    <li data-feature="Voters &amp; votes">unlimited</li>
                    <li data-feature="Ideas">unlimited</li>
                    <li data-feature="Comments">—</li>
                    <li data-feature="Moderation tools"><span class="check">&check;</span></li>
                    <li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
                    <li data-feature="Widget tracking"><span class="check">&check;</span></li>
                    <li data-feature="Admins / moderators">—</li>
                    <li data-feature="Feedback zones">—</li>
                    <li data-feature="Products">—</li>
                    <li data-feature="Private forums"><span class="check">&check;</span></li>
                    <li data-feature="Semi-private forums"><span class="check">&check;</span></li>
                    <li data-feature="Public forums">—</li>
                    <li data-feature="Domain aliasing">—</li>
                    <li data-feature="30 day trial"><span class="check">&check;</span></li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column -->
            <div class="column  ">
                <div class="header"><h2 class="title">Mini</h2>
                    <h3 class="price"><span>$17</span>per month</h3></div><!-- end .header -->
                <ul class="features">
                    <li data-feature="Users">200</li>
                    <li data-feature="Voters &amp; votes">unlimited</li>
                    <li data-feature="Ideas">unlimited</li>
                    <li data-feature="Comments"><span class="check">&check;</span></li>
                    <li data-feature="Moderation tools"><span class="check">&check;</span></li>
                    <li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
                    <li data-feature="Widget tracking"><span class="check">&check;</span></li>
                    <li data-feature="Admins / moderators">unlimited</li>
                    <li data-feature="Feedback zones">unlimited</li>
                    <li data-feature="Products">unlimited</li>
                    <li data-feature="Private forums"><span class="check">&check;</span></li>
                    <li data-feature="Semi-private forums"><span class="check">&check;</span></li>
                    <li data-feature="Public forums"><span class="check">&check;</span></li>
                    <li data-feature="Domain aliasing"><span class="check">&check;</span></li>
                    <li data-feature="30 day trial"><span class="check">&check;</span></li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column -->
            <div class="column  featured">
                <div class="header"><h2 class="title">Medium</h2>
                    <h3 class="price"><span>$47</span>per month</h3></div><!-- end .header -->
                <ul class="features">
                    <li data-feature="Users">1000</li>
                    <li data-feature="Voters &amp; votes">unlimited</li>
                    <li data-feature="Ideas">unlimited</li>
                    <li data-feature="Comments"><span class="check">&check;</span></li>
                    <li data-feature="Moderation tools"><span class="check">&check;</span></li>
                    <li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
                    <li data-feature="Widget tracking"><span class="check">&check;</span></li>
                    <li data-feature="Admins / moderators">unlimited</li>
                    <li data-feature="Feedback zones">unlimited</li>
                    <li data-feature="Products">unlimited</li>
                    <li data-feature="Private forums"><span class="check">&check;</span></li>
                    <li data-feature="Semi-private forums"><span class="check">&check;</span></li>
                    <li data-feature="Public forums"><span class="check">&check;</span></li>
                    <li data-feature="Domain aliasing"><span class="check">&check;</span></li>
                    <li data-feature="30 day trial"><span class="check">&check;</span></li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column -->
            <div class="column  ">
                <div class="header"><h2 class="title">Professional</h2>
                    <h3 class="price"><span>$97</span>per month</h3></div><!-- end .header -->
                <ul class="features">
                    <li data-feature="Users">3000</li>
                    <li data-feature="Voters &amp; votes">unlimited</li>
                    <li data-feature="Ideas">unlimited</li>
                    <li data-feature="Comments"><span class="check">&check;</span></li>
                    <li data-feature="Moderation tools"><span class="check">&check;</span></li>
                    <li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
                    <li data-feature="Widget tracking"><span class="check">&check;</span></li>
                    <li data-feature="Admins / moderators">unlimited</li>
                    <li data-feature="Feedback zones">unlimited</li>
                    <li data-feature="Products">unlimited</li>
                    <li data-feature="Private forums"><span class="check">&check;</span></li>
                    <li data-feature="Semi-private forums"><span class="check">&check;</span></li>
                    <li data-feature="Public forums"><span class="check">&check;</span></li>
                    <li data-feature="Domain aliasing"><span class="check">&check;</span></li>
                    <li data-feature="30 day trial"><span class="check">&check;</span></li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column --></section><!-- end pricing-table -->
        <p>
        <hr class=""/>
        </p>

        <section class="simple-pricing-table col4 featured clearfix">
            <div class="column  free">
                <div class="header"><h2 class="title">Mini</h2>
                    <h3 class="price"><span>$17</span>/month</h3><h5 class="description">Best for any freelancer</h5>
                </div><!-- end .header -->
                <ul class="features">
                    <li>Up to 200 users</li>
                    <li>Limited voters &amp; votes</li>
                    <li>Limited ideas, comments</li>
                    <li>Moderation tools</li>
                    <li>Multiple sign-in / singup options</li>
                    <li>Widget tracking</li>
                    <li>Admins / moderators</li>
                    <li>1 feedback zone</li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column -->
            <div class="column  featured">
                <div class="header"><h2 class="title">Medium</h2>
                    <h3 class="price"><span>$47</span>/month</h3><h5 class="description">Most Popular Plan</h5></div>
                <!-- end .header -->
                <ul class="features">
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Up to 1000 users</li>
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Limited voters &amp;
                        votes
                    </li>
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Limited ideas,
                        comments
                    </li>
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Moderation tools</li>
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Multiple sign-in /
                        singup options
                    </li>
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Widget tracking</li>
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Admins / moderators
                    </li>
                    <li data-tooltip="Tooltip - Optional description of the feature can go here!">Unlimited feedback
                        zone
                    </li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column -->
            <div class="column  ">
                <div class="header"><h2 class="title">Professional</h2>
                    <h3 class="price"><span>$97</span>/month</h3><h5 class="description">Best for corporate teams</h5>
                </div><!-- end .header -->
                <ul class="features">
                    <li>Up to 3000 users</li>
                    <li>Unlimited voters &amp; votes</li>
                    <li>Unlimited ideas, comments</li>
                    <li>Moderation tools</li>
                    <li>Multiple sign-in / singup options</li>
                    <li>Widget tracking</li>
                    <li>Admins / moderators</li>
                    <li>Unlimited feedback zone</li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column -->
            <div class="column  ">
                <div class="header"><h2 class="title">Unlimited</h2><h5 class="description">Contact us for&lt;br /&gt;
                    all unlimited plans</h5></div><!-- end .header -->
                <ul class="features">
                    <li>Choose yourself</li>
                    <li>Unlimited voters &amp; votes</li>
                    <li>Unlimited ideas, comments</li>
                    <li>Moderation tools</li>
                    <li>Multiple sign-in / singup options</li>
                    <li>Widget tracking</li>
                    <li>Admins / moderators</li>
                    <li>Unlimited feedback zone</li>
                </ul><!-- end .features -->
                <div class="footer"><a class="button" href="">Sign Up</a></div><!-- end .footer --></div>
            <!-- end .column --></section><!-- end pricing-table -->
        <p>


        <p></p>


    </div><!-- end .container -->

</section><!-- end #content -->