<section id="content" class="clearfix ">

    <div class="container">


        <header class="page-header clearfix">

            <h1 class="page-title">We Are Hiring</h1>


            <hr/>

            <h2 class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo
                tristique odio, quis fringilla ligula aliquet ut.</h2>


        </header><!-- end .page-header -->


        <div class="three-fourth">
            <h4>Open positions</h4>
            <p>Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Aliquam erat
                volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Aliquam erat volutpat. Sed
                consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p></p>
            <h4 class="acc-trigger" data-mode=""><a href="">Project Manager</a></h4>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.
                </div>
            </div>
            <h4 class="acc-trigger" data-mode=""><a href="">Web Developer</a></h4>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.
                </div>
            </div>
            <h4 class="acc-trigger" data-mode=""><a href="">Interaction Designer</a></h4>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.
                </div>
            </div>
            <h4 class="acc-trigger" data-mode=""><a href="">Senior User Experience Designer</a></h4>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.
                </div>
            </div>
            <h4 class="acc-trigger" data-mode=""><a href="">Senior Project Manager</a></h4>
            <div class="acc-container">
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci,
                    condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.
                </div>
            </div>
            <p></p>
        </div>
        <div class="one-fourth last">
            <h4>Have other skills?</h4>
            <p>Not a problem! Contact us to let us know how you can make a difference at SmartStart.</p>
            <h4><em><a class="button  no-bg" href="../contact/index.html" target="_self">Drop us a line <span
                    class="arrow">&raquo;</span></a></em></h4>
        </div>
        <div class="clear"></div>


        <p></p>


    </div><!-- end .container -->

</section><!-- end #content -->